/******** MOBILE ********/
@media only screen and (max-width: 500px) {
  .logo {
    width: 90%;
  }

  .banner {
    font-size:2vw;
    border: 0.25vw solid black;
  }

  .bannerLeft {
    width: 300%;
    font-size:2vw;
    margin-left: 5.5%;
  }

  .bannerRight {
    width: 300%;
    font-size:2vw;
  }

  .girlz {
    width: 40%;
  }

  .bounce {
    font-size: 12vw;
    -webkit-text-stroke: 0.5vw black;
  }

  .aboutContainer {
    font-size: 5.5vw;
    width: 87.5%;

    top: 132.5%;
  }

  .email {
    letter-spacing:none;
    font-size: 4vw;
  }

  .instagram {
    position: absolute;
    bottom:50%;
    left: 0%;
    width: 75%;
  }

  .tumblr {
    position: absolute;
    left: 30%;
    margin-top:35%;
    width: 40.5%;
  }

  .twitter {
    left:35%;
    position: absolute;
    width: 55.5%;
  }

  .youtube {
    position: absolute;
    margin-top:-10%;
    left: 8%;
    width: 45%;
  }

  .bouncingTeam {

    width: 70%;
    font-size: 5.25vw;
  }

  .tvDesktop {
    visibility: hidden;
  }

  .iframeMobile {
    position: relative;
    width: 80%;
    height: 200%;
    margin-top: 10%;
    left: 0%;
    visibility: hidden;
    border-radius: 0px;
  }

  .tvMobile {
    margin-top: -40%;
    text-align: center;
  }

}
/************************/
