/******** RESET ********/
html, button, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*cursor: crosshair;*/
}

/******** BODY ********/
body {
  overflow: hidden;
  background: none;
}

@font-face {
 font-family: '83';
 src: url("../fonts/83.otf") /* TTF file for CSS3 browsers */
}
/******** END BODY ********/

/******** BANNERS ********/
.banner {
  font-family:'83', sans-serif;
  background: white;
  color: black;
  /* border: 0.125vw solid black; */
  letter-spacing: 0vw;
  font-size:0.8vw;
  padding: 0.75% 0 0.5% 0;
  cursor: pointer;
}

.bannerAnimation {
  word-spacing: 15vw;
  overflow: hidden;
  padding: 0.75% 0 0.5% 0;
}

.Top {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Bottom {
  width: 100%;
  float: bottom;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.bannerLeft {
  position: absolute;
  float: left;
  transform: rotate(90deg);
  transform-origin: left top 0;
  width: 100%;
  margin-left: 2.35%;
  word-spacing: 8vw;
}

.bannerRight {
  float: left;
  transform: rotate(90deg);
  margin-left: 100%;
  transform-origin: left top 0;
  width: 100%;
  word-spacing: 8vw;
}

.firstTicker {
  padding-left: 2.75%;
}
/******** END BANNERS ********/


/******** BOUNCE ********/
.bouncing {
  font-family:'83', sans-serif;
  color: #fff;
  font-size: 9vw;
  -webkit-text-stroke: 0.15vw black;
  letter-spacing:0.05em;
  cursor: pointer;
}

.bounceAbout {
  position: absolute;
  left: 3%;
  top: 6%;
}

.bounceAbout:hover {
  color:red;
}

.bounceTeam {
  position: absolute;
  left: 60%;
  top: 12%;
}

.bounceTeam:hover {
  color: #FF00FF;
}

.bounceShop {
  position: absolute;
  left: 25%;
  top: 25%;
}

.bounceShop:hover {
  color: red;
}

.bounceTV {
  position: absolute;
  left: 20%;
  top: 42.5%;
}

.bounceTV:hover {
  color: #0000ff;
}

.bounceInternet {
  position: absolute;
  left: 2%;
  top: 60%;
}

.bounceInternet:hover {
  color: #00ff00;
}

.bounceProjects {
  position: absolute;
  left: 30%;
  top: 78%;
}

.bounceProjects:hover {
  color: #FFFF00;
}
/******** END BOUNCE ********/
